<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">

            <div class="col-lg-12 nopadding" style="margin-top: 10px;">
                        <div class="row" style="direction: rtl; margin-left:0%;">
                            <div class="col-lg-9 nopadding" style="margin-top: 10px;">

                                <div class="row" >

                                    <!--<div class="form-group" class="col-lg-3"   style="width: 95%; float: right ; margin-right: 20px; margin-top: 10px; ">-->
                                        <!--<label >הכנס כמות שעות </label>-->
                                        <!--123-->
                                    <!--</div>-->

                                    <!--<div class="form-group" class="col-lg-3"   style="width: 95%; float: right ; margin-right: 20px; margin-top: 10px; ">-->
                                        <!--<label >הכנס כמות שעות </label>-->
                                        <!--123-->
                                    <!--</div>-->


                                    <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                                       <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי כותרת" required (keyup)='updateFilter($event)'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 nopadding" style="margin-top: 5px !important;">
                                <button [routerLink]="['/', folderName , 'add' ,{sub:SubCatId}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                                    <div class="buttonDivBadge">

                                    </div>
                                    <div class="buttonDivText">
                                        <span class="sideButtonTextEmpty">הוסף</span>
                                    </div>
                                    <div class="buttonDivIcon">
                                        <i class="fa fa-plus "></i>
                                    </div>
                                </button>
                            </div>
                        </div>

                <div class="row p-2" *ngIf="SubCatId == -1">
                    <div class="col-md-3 nopadding text-left">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn" [ngClass]="{'btn-secondary' : gap !== 'months', 'btn-info' : gap === 'months'}" (click)="selectGap('months')">חודש</button>
                            <button type="button" class="btn" [ngClass]="{'btn-secondary' : gap !== 'weeks', 'btn-info' : gap === 'weeks'}" (click)="selectGap('weeks')">שבוע</button>
                            <button type="button" class="btn" [ngClass]="{'btn-secondary' : gap !== 'days', 'btn-info' : gap === 'days'}" (click)="selectGap('days')">יום</button>
                        </div>
                    </div>
                    <div class="col-md-9 nopadding text-right">
                        <span>תאריך נבחר: </span>
                        <span>{{start | amDateFormat: 'DD/MM/YYYY'}} - {{end | amDateFormat: 'DD/MM/YYYY'}}</span>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" (click)="assignDates('backward')">אחורה</button>
                            <button type="button" class="btn btn-secondary" (click)="assignDates('forward')">קדימה</button>
                        </div>
                    </div>
                </div>

                <div class="row"></div>


                        <ngx-datatable
                                [headerHeight]="40"
                                [footerHeight]="'false'"
                                [rowHeight]="'auto'"
                                [columnMode]="'force'"
                                [rows]="ItemsArray">

                            <!-- Column Templates -->


                            <ngx-datatable-column name="#" [sortable]="true"   prop='id' [width]="100">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.id}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="כותרת" [sortable]="true"   prop='title' [width]="180">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.title}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="סניף"  [width]="180" prop='Branch'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.Branch}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="מקצוע"  [width]="180" prop='Profession'>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <strong>{{row.Profession}}</strong>
                            </ng-template>
                        </ngx-datatable-column>



                            <ngx-datatable-column name="מורה"  [width]="180" prop='teacher_id'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.teacher">{{row.teacher.student_name}}</strong>
                                    <strong *ngIf="!row.teacher">ללא בחירה</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="מ.תלמידים"  [width]="200" prop='quan'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.quan}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="שעות"  [width]="180" prop='class_total_hours' >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.class_total_hours}}</strong>
                                </ng-template>
                            </ngx-datatable-column>



                            <ngx-datatable-column name="הרשמות"  [width]="220" prop='users_count'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div style="float: right"  (click)="openInfoModal(UserData, row)">
                                        <h6 style="cursor:pointer; text-decoration: underline;">{{row.users_count}}</h6>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="חסרים"  [width]="200" prop='missing_class_count'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div style="float: right"  (click)="openMissingModal(MissingData, row)">
                                        <h6 style="cursor:pointer; text-decoration: underline;">{{row.missing_class_count}}</h6>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="תשלומים"  [width]="220" prop='payment_count'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div style="float: right"  (click)="openPaymentModal(PaymentData, row)">
                                        <h6 style="cursor:pointer; text-decoration: underline;">{{row.payment_count}}</h6>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>




                            <ngx-datatable-column name="תאריך"  [width]="230" prop='date_new'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.class_hour}} {{row.date_new}} </strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="פעולות" [sortable]="false" [width]="300" style="direction: ltr !important; text-align: left !important;" align="left">

                                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                                    <!--<button type="button" class="btn btn-success" (click)="AddStudentsModal(content2, rowIndex)">תלמידים</button>-->
                                    <button type="button"  [ngClass]="[row.class_duplicated == 0 && row.duplicate_id == 0 ? 'btn btn-info' : 'btn btn-default']"  (click)="OpenDuplicateClassModal(duplicateClassModal, row)">
                                        <span *ngIf="row.class_duplicated == 0 && row.duplicate_id == 0"> שכפול שיעור</span>
                                         <span *ngIf="row.class_duplicated == 1 || row.duplicate_id > 0"> ביטול שכפול</span>
                                        </button>
                                    <button type="button" class="btn btn-warning" [routerLink]="['/', folderName , 'edit' , { id: row.id}]">ערוך</button>
                                    <button type="button" *ngIf="row.deleted == 0" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">הקפיא</button>
                                    <button type="button" *ngIf="row.deleted == 1" class="btn btn-success" (click)="openDeleteModal(content, rowIndex)">החזיר</button>
                                    <!--<button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button>-->
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
            </div>
</div>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
<div class="modal-header text-right">
<h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">הקפיא/החזר שיעור</h6>
<button type="button" class="close" aria-label="סגור" (click)="d()">
<span aria-hidden="true">&times;</span>
</button>
</div>
    <div class="modal-body">בטוח שרוצה להקפיא/להחזיר את השיעור?</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
<button type="button" class="btn btn-primary" (click)="deleteCompany()">הקפיא/החזר</button>
</div>
</ng-template>


<ng-template ngbModalContainer></ng-template>
<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">הוספת תלמידים לשיעור</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       asdsdssda
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="searchStudents()">חיפוש</button>
    </div>
</ng-template>




<!-- -->
<ng-template ngbModalContainer></ng-template>
<ng-template #duplicateClassModal let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">שכפול שיעור</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">האם לאשר ביטול/שכפול שיעור לשנה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="duplicateClassYear()">שכפול/ביטול</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #UserData let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">הרשמות לשיעור</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">
        <!-- <div *ngIf="!UserContentInfo.user_data">אין נתונים</div> -->


        <div class="row" >
                <div class="form-group col-lg-12" >
                  <label class="col-form-label">שיוך תלמידים לשיעור</label>
                  <div>
    
    
                    <angular2-multiselect [data]="StudentsArray"
                                          [(ngModel)]="senddetails.selected_students"
                                          name="selectedStudents"
                                          [settings]="dropdownSettings" >
                    </angular2-multiselect>
    
                  </div>
                </div>
                <div class="form-group col-lg-12" *ngIf="senddetails.selected_students.length > 0">
                        <button type="button" class="btn btn-success" (click)="addStudentsClass()">עדכן</button>
                      </div>    
              </div>

              
        <div class="table-responsive" *ngIf="UserContentInfo.user_data">



                      
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th>שם מלא</th>
                    <th>טלפון</th>
                    <th>ת.הרשמה לשיעור</th>
                    <th>אישור/ביטול</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let item of UserContentInfo.user_data">

                    <td>{{item[0].student_name}}</td>
                    <td>{{item[0].phone}}</td>
                    <td>{{item[0].signup_date}}</td>
                    <td>
                        <div style="display: inline;" (click)="confirmClass(item[0],2)" >
                            <i class="icon icon-arrows-remove"  style="font-size:30px; " [ngClass]="item[0].confirmed_status == 2 ? 'UnApprovedClass' : ''"></i>
                        </div>
                        <div style="display: inline;" (click)="confirmClass(item[0],1)" >
                            <i class="icon icon-arrows-check" style="font-size:30px; " [ngClass]="item[0].confirmed_status == 1 ? 'ApprovedClass' : ''"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    </div>
</ng-template>

<!-- -->


<ng-template ngbModalContainer></ng-template>
<ng-template #MissingData let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">תלמידים חסרים</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">
        <div *ngIf="!MissingContentInfo.missing_class_data">אין נתונים</div>

        <div class="table-responsive" *ngIf="MissingContentInfo.missing_class_data">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th>שם מלא</th>
                    <th>טלפון</th>
                    <th>תאריך</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let item of MissingContentInfo.missing_class_data">
                    <td>{{item.user_data.student_name}}</td>
                    <td>{{item.user_data.phone}}</td>
                    <td>{{item.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    </div>
</ng-template>

<!-- -->

<ng-template ngbModalContainer></ng-template>
<ng-template #PaymentData let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">תשלומים לשיעור</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">


        <div *ngIf="!PaymentInfo.payment_data">אין נתונים</div>

        <div class="table-responsive" *ngIf="PaymentInfo.payment_data">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th>שם מלא</th>
                    <th>צורת תשלום</th>
                    <th>תאריך תשלום</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let item of PaymentInfo.payment_data">
                    <td>
                        <div *ngIf="item.user_data"></div>
                        {{item.user_data.student_name}}
                    </td>
                    <td>
                        <p *ngIf="item.payment_method == 0">מזומן</p>
                        <p *ngIf="item.payment_method == 1">כרטיסיה</p>
                        <p *ngIf="item.payment_method == 2">חוב</p>
                    </td>
                    <td>{{item.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
    </div>
</ng-template>



