
<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">
    <div class="col-lg-2 nopadding" style="background-color: #eff1f1; padding: 0px" >
        <div style="margin-top: 20px; padding: 10px;" align="center">
            <button [routerLink]="['/', 'company' , 'index']"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                <div class="buttonDivBadge">

                </div>
                <div class="buttonDivText">
                    <span class="sideButtonTextEmpty">חזר לעמוד חברות</span>
                </div>
                <div class="buttonDivIcon">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </button>

            <hr>


        </div>
    </div>
    <div class="col-lg-10 nopadding" style="margin-top: 10px; height: 1000px">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <input type="text" class="form-control mb-3" placeholder="חפש חברה" style="text-align: right; padding: 10px;" required (keyup)='updateFilter($event)'>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px; height: 1000px">
        <ngx-datatable
                class="striped"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="0"
                [rowHeight]="70"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rowClass]="getRowClass"
                (sort)="onSort($event)"
                [rows]="ItemsArray">

           <!-- <ngx-datatable-column name="icons" [width]="100" >
                <ng-template let-column="column" ngx-datatable-header-template>
                    actions
                </ng-template>
                <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                    <i class="fa fa-close IconClass" style="" (click)="DeleteItem()"></i>
                    <a [routerLink]="['/', 'company' , 'edit' , { id: rowIndex, foo: 'foo' }]" class="navigation-link relative"><i class="fa fa-edit IconClassMt3" ></i></a>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="תאריך הזמנה" prop="order_date" [sortable]="true" headerClass="Rclass" cellClass="Cell" [width]="130" style="padding-top:30px !important; background-color: red" >
                <ng-template  let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="divRow">{{row.order_date}}</div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column  [sortable]="true" style="padding-top:30px !important;" [width]="100" >
                <ng-template   ngx-datatable-header-template><span >שתייה</span></ng-template>
                <template  let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="row.DrinkArr[0]">{{row.DrinkArr[0].name}}</div>
                    <div *ngIf="!row.DrinkArr[0]">---</div>
                </template>
            </ngx-datatable-column>
            <ngx-datatable-column   [sortable]="true" style="padding-top:30px !important;" [width]="100"  >
                <ng-template   ngx-datatable-header-template><span >תוספת שנייה</span></ng-template>
                <template  let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="row.Mod2firstArr[0]">{{row.Mod2firstArr[0].name}}</div>
                    <div *ngIf="!row.Mod2firstArr[0]">לא נבחר</div>
                </template>
            </ngx-datatable-column>
            <ngx-datatable-column  [sortable]="true" style="padding-top:30px !important;" >
                <ng-template   ngx-datatable-header-template><span >תוספת ראשונה</span></ng-template>
                <template  let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="row.Mod1Arr[0]">{{row.Mod1Arr[0].name}}</div>
                    <div *ngIf="!row.Mod1Arr[0]">לא נבחר</div>
                </template>
            </ngx-datatable-column>
            <ngx-datatable-column   style="padding-top:30px !important;" [width]="150">
                <ng-template   ngx-datatable-header-template><span >מנה עיקרית</span></ng-template>
                <template  let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="row.MainArr[0]">{{row.MainArr[0].name}}</div>
                    <div *ngIf="!row.MainArr[0]">לא נבחר</div>
                </template>
            </ngx-datatable-column>
            <ngx-datatable-column name="סוג הזמנה" prop="FoodTypeName"  [sortable]="true" [width]="100" style="padding-top:30px !important;" >
                <template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="row.FoodTypeName">{{row.FoodTypeName}}</div>
                    <div *ngIf="!row.FoodTypeName">לא נבחר</div>
                </template>
            </ngx-datatable-column>
            <ngx-datatable-column  name="מסעדה" prop="RestaurantName.name"  style="padding-top:30px !important;" [width]="120" >
                <template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="row.RestaurantName">{{row.RestaurantName[0].name}}</div>
                    <div *ngIf="!row.RestaurantName">לא נבחר</div>
                </template>
            </ngx-datatable-column>
            <ngx-datatable-column  style="padding-top:30px !important;" [width]="120" >
                <ng-template   ngx-datatable-header-template><span >שם לקוח</span></ng-template>
                <template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="row.MyUserId">{{row.MyUserId[0].name}}</div>
                    <div *ngIf="!row.MyUserId">לא נבחר</div>
                </template>
            </ngx-datatable-column>
            <ngx-datatable-column name="שם חברה" prop="CompanyName[0].name" style="padding-top:30px !important;" [width]="120">
                <template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div>{{row.CompanyName[0].name}}</div>
                </template>
            </ngx-datatable-column>
            <ngx-datatable-column name="מספר הזמנה" prop="index" style="padding-top:30px !important;" [width]="80">
                <template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div>{{row.index}}</div>
                </template>
            </ngx-datatable-column>
        </ngx-datatable>
        </div>
    </div>
</div>






