<div class=" card-body" style="width: 100% !important; overflow: hidden; background-color: #f1f1f1">
    <div style="float:right; width:40%; text-align: right">
        <h6 class="text-uppercase">הרכבים של רויאל קאר</h6>
        <span>כרגע יש 4 חברות במערכת</span>
    </div>
    <div style="float:left; width:30%; ">
        <button [routerLink]="['/', 'company' , 'add' ]" class="btn btn-icon btn-facebook mb-1 mr-1 " style="width: 170px; background-color:#3b5998; cursor: pointer; color: white; ">
            <i class="fa fa-plus-circle"></i>
            חזרה לעמוד החברה
        </button>
        <button [routerLink]="['/', 'car' , 'add' ]" class="btn btn-icon btn-facebook mb-1 mr-1 " style="width: 140px; background-color:#3b5998; cursor: pointer; color: white; ">
            <i class="fa fa-plus-circle"></i>
            הוסף רכב חדש
        </button>
    </div>
</div>


<div class="row" style="margin-top: 30px;">
    <div class="col-lg-12" align="center">
        <div class="col-lg-10">

            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card" *ngFor="let item of ItemsArray let i=index">
                        <img class="card-img-top img-fluid" src="{{host}}{{item.images[0].url}}" alt="Card image"/>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{item.carName}} - {{item.carModelName}}
                            </h5>
                            <p class="card-text">
                                {{item.ComapnyName}}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    שנה: {{item.year}} | יד {{item.hand}} | מנוע {{item.size}} סמ"ק
                                </small>
                            </p>
                            <hr>
                            <button [routerLink]="['/', 'car' , 'edit' , { id: i}]"
                                    class="btn btn-icon btn-facebook mb-1 mr-1 "
                                    style="width:80px; font-size: 10px; cursor: pointer; background-color: #3b5998; color: white">
                                <i class="fa fa-edit"></i>
                                Edit
                            </button>
                            <button class="btn btn-icon btn-instagram mb-1 mr-1 "
                                    style="width:80px; font-size: 10px; background-color:lightgrey; cursor: pointer;"
                                    (click)="DeleteItem(i)">
                                <i class="fa fa-close"></i>
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>