<div class="row FormClass">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        הוספת שיעור
      </div>
      <div class="card-body">

        <form (ngSubmit)="onSubmit(f)" #f="ngForm" >

          <!--
          <div class="row" >
            <div class="form-group" class="col-lg-6" *ngFor="let row of rows let i=index" style="margin-top: 15px;">
              <label >הכנס {{rowsNames[i]}} </label>
              <input type="text" class="form-control textWhite" formControlName="{{row}}" id="{{row}}" name="{{row}}"  required>
            </div>
          </div>
          -->

          <div class="row" >
            <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
              <label >הכנס כותרת </label>
              <input type="text" class="form-control textWhite" [(ngModel)]="fields.title" name="title"  required>
            </div>

            <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
              <label >הכנס מכסת תלמידים </label>
              <input type="number" min="1" class="form-control textWhite" [(ngModel)]="fields.max_students" name="max_students"  required>
            </div>

          </div>

          <div class="row" >

            <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
              <label >הכנס כמות שעות </label>
              <input type="number" min="1" class="form-control textWhite" [(ngModel)]="fields.class_total_hours" name="class_total_hours"  required>
            </div>


            <div class="form-group" class="col-lg-6" style="margin-top: 15px;" >
              <label >בחירת מורה </label>
              <select class="form-control textWhite" [(ngModel)]="fields.teacher_id" name="teacher_id"  >
                <option  [value]="0" selected>ללא בחירה</option>
                <option *ngFor="let item of teachersArray let i=index" [value]="item.id">{{item.student_name}}</option>
              </select><br/>
            </div>

          </div>


          <div class="row" >

            <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
              <label > הכנס תאריך </label>
              <ngb-datepicker #dp [firstDayOfWeek]="7" [(ngModel)]="fields.class_date" name="class_date" class="form-control textWhite"></ngb-datepicker>
            </div>



            <div class="form-group" class="col-lg-6"  style="margin-top: 15px; ">
              <label > הכנס שעה </label>
              <!--
              <input type="time" class="form-control textWhite" formControlName="class_hour" id="class_hour" name="class_hour"  required>
              -->
              <ngb-timepicker [(ngModel)]="fields.class_time" name="class_time" style="width:150px;text-align:right; display:block; direction:ltr;"></ngb-timepicker>
            </div>

          </div>


          <div class="row" >

            <div class="form-group" class="col-lg-6" style="margin-top: 15px;" >
              <label >סניף </label>
              <select class="form-control textWhite" [(ngModel)]="fields.branchselect" name="branchselect"  required>
                <option  *ngFor="let row of BranchesItems let i=index" [value]="row.id">{{row.title}}</option>
              </select><br/>
            </div>

            <div class="form-group" class="col-lg-6" style="margin-top: 15px;" >
              <label >מקצוע </label>
              <select class="form-control textWhite"[(ngModel)]="fields.professionselect" name="professionselect" required>
                <option  *ngFor="let row of ProfessionsItems let i=index" [value]="row.id">{{row.title}}</option>
              </select><br/>
            </div>

          </div>




          <div class="row" align="left" style="float: left; margin-left: 5px">
            <button [disabled]="!f.valid" type="submit"
                    class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
              <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>