<div class="row FormClass">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
               הודעות פוש
            </div>
            <div class="card-body">
                <!-- <form (ngSubmit)="searchForm(f)" #f="ngForm" > -->


                    <div class="row" >

                        <div class="form-group" class="col-lg-3" style="margin-top: 15px;" >
                            <label >סוג משתמש </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.userType" name="userType"  >
                                <option  [value]="-1" selected>כולם</option>
                                <option  [value]="0">תלמידים</option>
                                <option  [value]="1">מורים</option>
                                <option  [value]="2">מנהלים</option>
                            </select><br/>
                        </div>


                        <div class="form-group" class="col-lg-3" style="margin-top: 15px;" >
                            <label >שם בית ספר </label>
                                <input type="text" class="form-control textWhite" [(ngModel)]="fields.school_name" name="school_name"    >
                            <br/>
                        </div>

                        <div class="form-group" class="col-lg-3" style="margin-top: 15px;" >
                            <label > עיר </label>
                            <input type="text" class="form-control textWhite" [(ngModel)]="fields.city" name="city"    >
                            <br/>
                        </div>


                        <div class="form-group" class="col-lg-3" style="margin-top: 15px;" >
                            <label >סניף </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.branchselect" name="branchselect"  >
                                <option  [value]="0" selected>ללא בחירה</option>
                                <option *ngFor="let item of branchesArray let i=index" [value]="item.id" >{{item.title}}</option>
                            </select><br/>
                        </div>

                    </div>

                    <div class="row" >


                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;" >
                            <label >כיתה </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.schoolgrade" name="schoolgrade"  >
                                <option  [value]="0" selected>ללא בחירה</option>
                                <option *ngFor="let item of schoolgradeArray let i=index" [value]="item.id" >{{item.title}}</option>
                            </select><br/>
                        </div>

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;" >
                            <label >רמת לימוד </label>
                            <select class="form-control textWhite" [(ngModel)]="fields.teachinglevel" name="teachinglevel"   >
                                <option  [value]="0" selected>ללא בחירה</option>
                                <option *ngFor="let item of teachinglevelArray let i=index" [value]="item.id" >{{item.title}}</option>
                            </select><br/>
                        </div>

                    </div>


                    <div class="row" align="left" style="float: left; margin-left: 5px">
                        <button  type="button" (click)="searchForm()"
                                class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                                style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                            <span style="text-align: center; padding: 10px;  width: 100% !important;">חיפוש</span>
                        </button>

                        <button  type="button" (click)="openPushModal(push)" [disabled]="!SendButtonActive"
                                 class="btn btn-success btn-icon loading-demo mr-1 mb-1"
                                 style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                            <span style="text-align: center; padding: 10px;  width: 100% !important;">שליחת הודעה</span>
                        </button>
                    </div>



                    <div *ngIf="noResults">
                        <strong>לא נמצאו תוצאות לחיפוש</strong>
                    </div>

                <div class="row"></div>

                    <div class="col-lg-12 nopadding" style="margin-top: 30px;" *ngIf="resultsFound">

                        <ngx-datatable
                                [headerHeight]="40"
                                [footerHeight]="'false'"
                                [rowHeight]="'auto'"
                                [scrollbarH]="true"
                                [columnMode]="'force'"
                                [rows]="searchResultsArray">


                            <ngx-datatable-column name="שם מלא"  [maxWidth]="200" prop='student_name'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.student_name}}</strong>
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column name="בית ספר"  [width]="100" prop='scool_name'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.scool_name}}</strong>
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column name="עיר"  [width]="100" prop='city'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.city}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="סוג חשבון"  [width]="80" prop='userType'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{UserType[row.userType]}}</strong>
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column name="ת.הרשמה"  [maxWidth]="150" prop='new_date'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.new_date}}</strong>
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column name="בחירה"  [maxWidth]="150" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <input type="checkbox" [checked]="row.choosen == 1"  (change)="changeSelection(row)" />

                                </ng-template>
                            </ngx-datatable-column>

                            <!--
                            <ngx-datatable-column name="פעולות" [sortable]="false" [width]="300" style="direction: ltr !important; text-align: left !important;" align="left">
                                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                                    <button type="button"  [ngClass]="[row.has_group == 1 ? 'btn btn-info' : 'btn btn-default']" (click)="openTicketsPage(row.id,row.has_group)">
                                        <span>{{row.ticket_count}}</span> כרטיסיות</button>
                                    <button type="button" class="btn btn-success"  (click)="openPushModal(push, row)">פוש</button>
                                    <button type="button" class="btn btn-warning" [routerLink]="['/', folderName , 'edit' , { id: rowIndex}]">ערוך</button>
                                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button>
                                </ng-template>
                            </ngx-datatable-column>
                            -->
                        </ngx-datatable>
                    </div>


                <!-- </form> -->
            </div>
        </div>
    </div>
</div>


<ng-template #push>
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">לשלוח פוש</h6>
        <button type="button" class="close" aria-label="סגור" (click)="closePushModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea  rows="3"  dir="rtl" placeholder="הודעה..." [(ngModel)]="pushText" style="width: 100%;"></textarea>
        <div *ngIf="inProcess">
            אנא המתן...
        </div>
        <div  *ngIf="sent">
            <ngb-alert [dismissible]="false" style="width: 100%;" type="success">
                נשלח בהצלחה!
            </ngb-alert>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePushModal()">סגור</button>
        <button type="button"  class="btn btn-primary" [disabled]="pushText == ''" (click)="sendPush()">שלח</button>
    </div>
</ng-template>