<div class="row FormClass">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
              ערוך מקצוע
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit(f)" #f="ngForm" >
                    <div class="row" >
                        <div class="form-group" class="col-lg-6" *ngFor="let row of rows let i=index" style="margin-top: 15px;">
                            <label >הכנס {{rowsNames[i]}} </label>
                            <input type="text" class="form-control textWhite" formControlName="{{row}}" id="{{row}}"  [value]="Item[row]"  required>



                        </div>
                    </div>






                    <!--
                    <div class="row">
                        <div class="form-group" class="col-lg-6">
                            <label for="formGroupExampleInput">תת קטגורייה </label>
                            <select class="form-control textWhite" [(ngModel)]="Item.sub_category_id" name="category">
                                <option *ngFor="let item of SubCategories let i=index" [value]="item.id">{{item.title}}</option>
                            </select><br/>
                        </div>
                    </div>
                    -->
                    <!--<div class="row">-->
                        <!--<img src="{{Image}}" style="width:50px; height: 50px" />-->
                        <!--<input  #fileInput   type="file"(change)="onChange($event)" style="margin-right: 20px; margin-top: 10px"/>-->
                    <!--</div>-->

                    <!--
                    <div class="row">
                    <div class="form-group" class="col-lg-6">
                        <div class="row">
                            <label class="uploader">

                                <img *ngIf="changeImage" src="{{changeImage}}" [class.loaded]="imageLoaded" style="width: 100px;"/>
                                <img *ngIf="!changeImage && Item.image" src="{{host}}{{Item.image}}" [class.loaded]="imageLoaded" style="width: 100px;"/>
                                <input #fileInput type="file" name="file" accept="image/*" (change)="onChange($event)">
                            </label>


                        </div>
                    </div></div>
                    -->
                    <div class="row" align="left" style="float: left; margin-left: 5px">
                        <button [disabled]="registerForm.invalid" type="submit"
                                class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                                style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                            <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>