<div class="row nopadding" style="padding: 0px; margin-top: -15px; margin-left: -17px">

    <div class="col-lg-12 nopadding" style="margin-top: 10px;">



        <div class="row" style="direction: rtl; margin-left:0%;">
            <div class="col-lg-9 nopadding" style="margin-top: 10px;">

                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                    <ngb-datepicker [firstDayOfWeek]="7" #dp   [(ngModel)]="searchDate" name="searchDate"  (ngModelChange)="onDateChange($event)"  class="form-control textWhite"></ngb-datepicker>
                </div>
            </div>
        </div>

        <!--<div class="card" *ngFor="let row of ItemsArray; let i = index">-->
            <!--<p>{{row.teacher}}</p>-->
            <!--<p>{{row.students}}</p>-->
        <!--</div>-->

        <!--<div class="card">-->
        <!--<div class="card-header">-->
        <!--<strong *ngIf="row.teacher">{{row.teacher}}</strong>-->
        <!--<strong *ngIf="!row.teacher">לא שויך מורה</strong>-->
        <!--</div>-->
        <div class="card-body">
            <div class="table-responsive" style="">
            <table  class="table table-bordered table-striped mb-0" >
            <thead>
            <tr  >
                <th >מורה</th>
                <th *ngFor="let hour of hours;">{{hour}}</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let row of ItemsArray; let i = index">
                <td>
                    <strong *ngIf="row.teacher">{{row.teacher}}</strong>
                    <strong *ngIf="!row.teacher">לא שויך מורה</strong>
                </td>
            <td  >
                <div *ngIf="row.class_hour >=  '14:00' && row.class_hour <   '15:00'">
                    <strong>{{row.title}} |  {{row.Branch}} | {{row.id}}</strong>
                    <div *ngFor="let student of row.students;">
                        <div class="row">
                            <div class="col-6">
                                {{student.user_data.student_name}}
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="changeClass(student.id)">החלף</button>
                                <!--<button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="openDetailsModal(details,row,student)">אפשריות</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td  >
                <div *ngIf="row.class_hour >=  '15:00' && row.class_hour <   '16:00'
                    ||  (row.cal_hour >  '15:00' && row.cal_hour <=   '16:00')">
                    <strong>{{row.title}} |  {{row.Branch}} | {{row.id}}</strong>
                    <div *ngFor="let student of row.students;">
                        <div class="row">
                            <div class="col-6">
                                {{student.user_data.student_name}}
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="changeClass(student.id)">החלף</button>
                                <!--<button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="openDetailsModal(details,row,student)">אפשריות</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </td>

                <td  >
                    <div *ngIf="row.class_hour >=  '16:00' && row.class_hour <   '17:00'
                    ||  (row.cal_hour >  '16:00' && row.cal_hour <=   '17:00')">
                        <strong>{{row.title}} |  {{row.Branch}} | {{row.id}}</strong>
                        <div *ngFor="let student of row.students;">
                            <div class="row">
                                <div class="col-6">
                                    {{student.user_data.student_name}}
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="changeClass(student.id)">החלף</button>
                                    <!--<button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="openDetailsModal(details,row,student)">אפשריות</button>-->

                                </div>

                            </div>
                        </div>
                    </div>
                </td>

                <td  >
                    <div *ngIf="row.class_hour >=  '17:00' && row.class_hour <   '18:00'
                    ||  (row.cal_hour >  '17:00' && row.cal_hour <=   '18:00')">
                        <strong>{{row.title}} |  {{row.Branch}} | {{row.id}}</strong>
                        <div *ngFor="let student of row.students;">
                            <div class="row">
                                <div class="col-6">
                                    {{student.user_data.student_name}}
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="changeClass(student.id)">החלף</button>
                                    <!--<button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="openDetailsModal(details,row,student)">אפשריות</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td  >
                    <div *ngIf="row.class_hour >=  '18:00' && row.class_hour <   '19:00'
                    ||  (row.cal_hour >  '18:00' && row.cal_hour <=   '19:00')">
                        <strong>{{row.title}} |  {{row.Branch}} | {{row.id}}</strong>
                        <div *ngFor="let student of row.students;">
                            <div class="row">
                                <div class="col-6">
                                    {{student.user_data.student_name}}
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="changeClass(student.id)">החלף</button>
                                    <!--<button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="openDetailsModal(details,row,student)">אפשריות</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td  >
                    <div *ngIf="row.class_hour >=  '19:00' && row.class_hour <   '20:00'
                    ||  (row.cal_hour >  '19:00' && row.cal_hour <=   '20:00')">
                        <strong>{{row.title}} |  {{row.Branch}} | {{row.id}}</strong>
                        <div *ngFor="let student of row.students;">
                            <div class="row">
                                <div class="col-6">
                                    {{student.user_data.student_name}}
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="changeClass(student.id)">החלף</button>
                                    <!--<button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="openDetailsModal(details,row,student)">אפשריות</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td  >
                    <div *ngIf="row.class_hour >=  '20:00' && row.class_hour <   '21:00'
                    ||  (row.cal_hour >  '20:00' && row.cal_hour <=   '21:00')">
                        <strong>{{row.title}} |  {{row.Branch}} | {{row.id}}</strong>
                        <div *ngFor="let student of row.students;">
                            <div class="row">
                                <div class="col-6">
                                    {{student.user_data.student_name}}
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="changeClass(student.id)">החלף</button>
                                    <!--<button type="button" class="btn btn-outline-info mr-1 mb-1" style="float:left; width:100px; padding:0; margin-top:3px;" (click)="openDetailsModal(details,row,student)">אפשריות</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </td>


            </tr>
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">מחיקה</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">האם לאשר מחיקה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #details let-c="close" let-d="dismiss">
    <div>

    </div>
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right">אפשריות</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" style="direction: rtl">
        <div class="m-2">

            <p><button type="button" style="width: 100%"  class="btn btn-info" (click)="changeClassOption()">החלפת שיעור</button></p>

            <!--<div  *ngIf="selectedItem.student.paid_count == 0">-->
                    <!--<p><button  style="width: 100%"  class="btn btn-info" type="button" (click)="paymentTicket()">כרטיסיה</button></p>-->
                    <!--<p><button style="width: 100%"  class="btn btn-info" type="button" (click)="paymentCash()">מזומן</button></p>-->
                    <!--<p><button  style="width: 100%" class="btn btn-info" type="button" (click)="paymentDebt()">חוב</button></p>-->
            <!--</div>-->

            <div  *ngIf="selectedItem.student.paid_count == 1">
            <p><button  style="width: 100%"  class="btn btn-info" type="button" *ngIf="selectedItem.student.paid_method == 0" disabled>שולם במזומן</button></p>
            <p><button  style="width: 100%"  class="btn btn-info" type="button" *ngIf="selectedItem.student.paid_method == 1" disabled>שולם בכרטיסיה</button></p>
            <p><button  style="width: 100%" class="btn btn-info" type="button" *ngIf="selectedItem.student.paid_method == 2" disabled>שולם בחוב</button></p>
            </div>

                <button type="button" style="width: 100%"  class="btn btn-info" [disabled]="selectedItem.student.paid_count > 0" *ngIf="selectedItem.student.didnt_show == 0" (click)="didntShowClass(0)">לא הגיע</button>
                <button type="button" style="width: 100%"  class="btn btn-info" [disabled]="!selectedItem.student.paid_count" *ngIf="selectedItem.student.didnt_show == 1" (click)="didntShowClass(1)"> לא הגיע</button>

        </div>

        <!--<div class="m-2">-->
            <!--<button type="button" class="btn btn-info btn-block" (click)="c()">סגור</button>-->
        <!--</div>-->
    </div>
</ng-template>



